<ion-header>
  <ion-toolbar>
    <ion-title>Selection</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="unset">
    <ion-item detail>
      <ion-label expand="block" routerLink="/card/japanese_top20_adj" routerDirection="forward">Top 20 adjectives and adverbs</ion-label>
    </ion-item>
    <ion-item detail>
      <ion-label expand="block" routerLink="/card/japanese_top8_connector" routerDirection="forward">Top 8 connectors</ion-label>
    </ion-item>
    <ion-item detail>
      <ion-label expand="block" routerLink="/card/japanese_top23_verb" routerDirection="forward">Top 23 verbs</ion-label>
    </ion-item>
    <ion-item detail>
      <ion-label expand="block" routerLink="/card/japanese_top42_noun" routerDirection="forward">Top 42 nouns</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
